*{
    margin: 0;
    padding: 0;
    color: rgb(15, 17, 17);
    font-weight: 100;
    letter-spacing: 1px;
    font:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.container{
    margin-left: 3%;
}
.container p{
    width: 80%;
    margin-top: 40px;
    font-size: 28px;
}
.container span{
    color: rgb(13, 9, 255);
}
.container i{
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
    color: rgb(230, 26, 36);
}
h1{
    margin-top: 20px;
}
h3{
    margin-top: 20px;
}
.img_box{
    display: inline-block;
    width: 25%;
    position: absolute;
    top: 130px;
    left: 74%;
}
.img_box img{
    width: 100%;
}
.list{
    margin-left: 5%;
}
.list li {
    margin-top: 15px;
}
.code_box{
    margin: 15px 0;
    display: inline-block;
    width: 80%;
    background: #fceeee;
}
h4{
    margin-left: 6%;  
}
.code_box p{
    width: 100%;
    font-size: 18px;
}
.code_box span{
    color: rgb(110, 110, 110);
    margin-left: 1%;
}
.img{
    width: 100%;
    margin: 20px 0;
}
.img img{
    width: 65%;

}
h2{
    margin: 20px 0;
}
h3{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color: rgb(15, 17, 17);
    font-weight: 100;
    letter-spacing: 1px;
}